@charset "utf-8";
/* CSS Document */
body {
background-color: #efefef;
}
.main_div {
	text-align:center;
    padding: 20px; /* Поля вокруг текста */
    margin-top: 30px; /* Отступ сверху */
   }
.img_div
{
	position:relative;
	top: -18px;
	left: 48%;
	width: 67px;
	height: 66px;
	float:inherit;
}