body {
    background-color: #efefef;
    background: #add8e6;
    margin: 0px;
    padding: 0px;
}
.fan_div {
    position: relative;
    text-align: center;
    margin-top: 10px;
    width: 100px;
    height: 110px;
}
.div_header {
    position: relative;
    left: 5%;
    height: 110px;
    width: 1750px;
}
.div_right_header {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 90px;
    width: 220px;
}
.div_left_header_top {
    position: absolute;
    width: 360px;
    height: 100px;
    left: 100px;
    background: #f5f5f5;
    border: 1px solid #c0c0c0;
}
.div_left_header_bottom {
    position: absolute;
    width: 360px;
    height: 20px;
    top: 100px;
    left: 100px;
    background: #f5f5f5;
    border: 1px solid #c0c0c0;
}
.div_content {
    left: 5%;
    position: relative;
    width: 1750px;
    height: 1000px;
}
.img_div {
    position: absolute;
    width: 67px;
    height: 66px;
    float: inherit;
    background: white;
}
form {
    position: relative;
    width: 100px;
    left: 1px;
}
input {
    margin-top: 2px;
}
.horizontal_pipe {
    position:absolute;
    background: #898989;
    background: linear-gradient(to top,#898989, #ffffff, #898989);
}
.vertical_pipe {
    position:absolute;
    background: #898989;
    background: linear-gradient(to right,#898989, #ffffff, #898989);
}
.pipe_binder_double {
    position:absolute;
    border: 1px solid black; /* Параметры границы */
    background: #B9B9B9;
}
.pipe_binder {
    position:absolute;
    border: none;
} 
.lada_horizontal {
    position:absolute;
}
.lada_vertical {
    position:absolute;
}  
.binder90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  border: none;
}
.binder270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  border: none;
}