@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link  type="text/css" rel="stylesheet" href="../../Content/Control.css" />
        <title>"Добассуглеавтоматика"</title>
        <script src="@Url.Content("~/Content/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
        <script type="text/javascript" src="../../Content/jqueryrotate.2.1.js"></script> 
        <script type="text/javascript" src="../../Content/CustomElements.js"></script> 

    </head>
    <body id="content">


 
        @Html.Partial("ControlContent");
  

    
  

    

   
    </body>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                angle2 += angleF2;
                jQuery("#fan2").rotate(angle2);
            }, 30);
            setInterval(function () {
                angle1 += angleF1;
                jQuery("#fan1").rotate(angle1);
            }, 30);

        });
        
        function fresh() {
            $("#form0").submit();
        }
        setInterval("fresh()", 19000);
    </script>      
</html>
