body {
    background-color: #efefef;
}
.fan_div {
    text-align: center;
    margin-top: 200px;
    width: 100px;
    height: 110px;
}
.div_header {
    height: 220px;
    width: 2000px;
}
.div_content {
    position: relative;
    width: 2000px;
    height: 1000px;
}
.img_div {
	position: absolute;
	width: 67px;
	height: 66px;
	float: inherit;
	background: white;
}
form {
    position: relative;
    width: 100px;
    left: 1px;
}
input {
    margin-top: 2px;
}
.horizontal_pipe {
    position:absolute;
    background: #898989;
}
.vertical_pipe {
    position:absolute;
    background: #898989;
}
.pipe_binder_double {
    position:absolute;
    border: 1px solid black; /* Параметры границы */
    background: #B9B9B9;
}
